*{
  margin: 0;
  padding: 0;
  color: white;
}

body{
  height: 100vh;
  padding: 50px 100px;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient( to right,hsl(273, 58%, 78%), hsl(266, 63%, 41%));
  gap: 100px;
}

.full-container{
  flex-grow: 1;
  height: 500px;
  background-color: black;
}

header{
  display: flex;
}
ul{
  display: flex;
  gap: 10px;
  list-style: none;
}

